{% extends "college/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add A Rating</legend>
                <p>Give the college a rating out of 5 on the basis of the following parameters.</p>
                {{form| crispy}}
            </fieldset>
            <div class= "form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
    
{% endblock content %}